#site-background {
  background-color: #0f4c5c;
  text-align: center;
}

.images {
  width: 500px;
  height: auto;
}
.headings {
  font-family: "Apple Chancery", "Times New Roman", cursive;
  font-size: 50px;
  color: #e36414;
}
#lesser-heading {
  font-size: 30px;
}

.regular-text {
  font-size: 20px;
  color: #fb8b24;
  line-height: 1.5;
}

.link {
  font-size: 30px;
  color: #e36414;
}